:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.container {
  background: #e7f1ff;
  border-radius: 20px;
  width: 100%;
  max-width: 722px;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  min-height: 757px;
  display: flex;
  justify-content: center;
}

/* 🧩 LOGO */
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  img {
    width: 190px;
    height: auto;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #1e293b;
    margin: 0;
  }

  span {
    font-size: 1rem;
    font-weight: 500;
    color: #1e293b;
    letter-spacing: 2px;
  }
}

/* 🧾 FORMULARIO */
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 306px;
  margin-top: 30px;

  .input-group {
    position: relative;
    width: 100%;

    label {
      position: absolute;
      top: -10px;
      left: 10px;
      background: #fff;
      font-size: 0.75rem;
      color: #49454f;
      padding: 0 4px;
      letter-spacing: 0.4px;
      z-index: 1;
    }

    input,
    select {
      width: -webkit-fill-available;
      padding: 0.9rem 1rem;
      border: 1px solid #79747e;
      border-radius: 4px;
      font-size: 1rem;
      color: #111827;
      // background-color: #ffffff;
      background: transparent;
      transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease;

      &:focus {
        outline: none;
        border-color: #69a7ff;
        box-shadow: 0 0 0 2px rgba(105, 167, 255, 0.3);
      }
    }

    .icon-input {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #666;
      user-select: none;
    }
  }

  /* Botón */
  button {
    background-color: #69a7ff;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    padding: 0.7rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    width: auto;
    align-self: center;
    height: 40px;
    margin-top: 40px;

    &:hover {
      background-color: darken(#69a7ff, 5%);
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }
}

/* Mensaje */
.message {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #49454f;
  text-align: center;

  &.success {
    color: #16a34a;
  }

  &.error {
    color: #dc2626;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 2rem 1.5rem;
  }

  form {
    max-width: 100%;
  }
}
