::ng-deep {
  .table-header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding: 16px 0;
    border-bottom: 1px solid #e0e0e0;
    gap: 24px;

    h2 {
      color: #000000;
      margin: 0;
      font-weight: 700;
      font-size: 1.75rem;
      white-space: nowrap;
      flex-shrink: 0;
    }

    .action-btn_add {
    background-color: #69A7FF !important;
    color: white !important;
    border-radius: 6px !important;
    padding: 0 20px;
    height: 48px;
      
    mat-icon {
        margin-right: 8px;
      }
    }
  }
}