<div class="table-container">
  <div class="table-header">
    <h2>Registrar</h2>
    <div class="search-section">
      <div class="filter-field"></div>
    </div>
  </div>
  <div>
    <div class="search-section">
      <button class="action-btn_add" mat-raised-button (click)="addSupplier()">
        <mat-icon>person</mat-icon>
        Proveedor
      </button>
      <button class="action-btn_add" mat-raised-button (click)="addSeller()">
        <mat-icon>person</mat-icon>
        Vendedor
      </button>
    </div>
  </div>
</div>
