<!-- <router-outlet /> -->
<div class="app-container">
  <!-- Sidebar -->
  <app-sidebar *ngIf="showSidebar()" />

  <!-- Main Content -->
  <main class="main-content" [class.with-sidebar]="showSidebar()">
    <!-- Header -->
    <header class="main-header" *ngIf="showHeader()">
      <div class="header-content">
        <button
          class="menu-toggle"
          (click)="toggleSidebar()"
          *ngIf="isMobile()"
        >
          <i>☰</i>
        </button>

        <div class="header-title"></div>

        <div class="header-actions">
          <div class="list-wrapper">
            <mat-form-field class="custom-select">
              <mat-select
                class="custom-mat-select"
                [(value)]="paisSeleccionado"
              >
                @for (pais of paises; track pais) {
                  <mat-option [value]="pais.id" class="custom-option">{{
                    pais.value
                  }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div class="logo-wrapper" [class.has-error]="logoError()">
            <img
              *ngIf="!logoError()"
              src="/images/avatar.svg"
              alt="Logo"
              class="logo"
              (error)="onLogoError($event)"
              width="60"
            />
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
