<div class="table-container">
  <div class="table-header">
    <h2>Productos registrados</h2>
    <div class="search-section">
      <mat-form-field class="filter-field">
        <mat-label>Consultar productos</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Búsqueda de productos"
          #input
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <button class="action-btn_add" mat-raised-button (click)="addProduct()">
        <mat-icon>save</mat-icon>
        Cargar producto
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        CÓDIGO PRODUCTO
      </th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        NOMBRE PRODUCTO
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef class="text-center">DESCRIPCIÓN</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="text-center">PRECIO</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef class="text-center">CANTIDAD</th>
      <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-center">ACCIONES</th>
      <td mat-cell *matCellDef="let product">
        <div class="actions-container">
          <button
            class="action-btn_edit"
            mat-icon-button
            matTooltip="Editar"
            (click)="editProduct(product)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 15, 25]"
    [pageSize]="10"
    showFirstLastButtons
    aria-label="Seleccionar página de productos"
  >
  </mat-paginator>
</div>
